/* 商品の概要 */

.item-show {
  
  /* background-color: #1E00FF; */
  background-image: image-url('bara.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.item-box {
  background-color: #FFF;
  // background-image: image-url('saku.png');
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.item-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.item-price-box {
  margin: 25px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item-price-box>.item-price {
  font-size: 4vh;
  font-weight: bold;
}

.item-price-box>.item-postage {
  font-size: 16px;
}


.item-red-btn {
  text-align: center;
  background: linear-gradient(#05FBFF, #1E00FF);
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 8px 0px;
  padding: 1vh 5vw;
}

.or-text {
  font-size: 20px;
}

.item-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  color: black;
  margin: 9px 0px;
  padding: 1vh 4vw;
}

.item-explain-box {
  font-size: 18px;
  margin: 40px 0px;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.option {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.favorite-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  color: rgb(249, 75, 0);
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.favorite-star-icon {
  margin-right: 5px;
}

.report-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;

  padding: 1vh 0;
  color: black;
  border: 2px solid #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.report-flag-icon {
  margin-right: 5px;
}


/* /商品の概要 */

.comment-box {
  width: 40vw;
  background-color: #fff;
  margin: 5vh 0;
  text-align: center;
}

.comment-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
}

.comment-warn {
  padding: 10px;
  font-size: 14px;
  margin: 10px 0px;
  text-align: left;
}

.comment-btn {
  line-height: 48px;
  background-color: #3CCACE;
  border: 1px solid #3CCACE;
  color: #fff;
  width: 50%;
  min-width: 150px;
  font-size: 18px;
  border-radius: 100px;
  margin-bottom: 2vh;
}

.comment-flag {
  display: flex;
  justify-content: center;
}

.comment-flag-icon {
  margin: 10px 5px 0 0;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 50vw;

}

.links0 {
  display: flex;
  justify-content: space-between;
  width: 50vw;
}

.comment{
  position: absolute;
  // bottom : 33px;
  left: 17px;
	margin: -10px 0px 0px 0px; /* 外側の余白 上下・左右 */
	padding: 0px 0px 0px 0px; /* 内側の余白 上・右・下・左 */
  width: 156px;
}

.romance{
  // views/romances/show.html.erb の41行目で使ってるから気をつけて！
}




.comment1{
	margin: 0px 0px -29px 0px; /* 外側の余白 上下・左右 */
	padding: 0px 0px 0px 0px; /* 内側の余白 上・右・下・左 */
  width: 170px;
}

/* 
.links1 {
  display: flex;
  justify-content: start; 
  width: 50vw;
}


.links2 {
  display: flex;

  width: 50vw;

} */



.change-item-btn {
  font-size: 30px;
  text-decoration: none;
  color: #3CCACE;
}

.change-item-btn1 {
  font-size: 30px;
  text-decoration: none;
  color: black;
}

.change-item-btn2 {
  font-size: 30px;
  text-decoration: none;
  color: black;
  justify-content: end; 
}



.change-item-btn {
  font-size: 30px;
  text-decoration: none;
  color: #3CCACE;
}



.another-item {
  display: block;
  margin: 30px 0px 8px;
  color: #3CCACE;
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
}