  <%#= binding.pry %>
<% if model.errors.any? %>
  <%#= binding.pry %>
  <div class="error-message1">
  </div>

  <div class="error-alert">
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li class='error-message'><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>