<footer class='second-fotter'>


  <div class='second-fotter-text-wrap'>
     <%= Date.today  %>
     <% d = Date.today %>

   <%= %w(日 月 火 水 木 金 土)[d.wday] + '曜日' %>
        現在
  <%#= image_tag "furima-logo-color.png", class:"second-fotter-logo"%>
  <div id="DateTimeDisp"></div>
</footer>